<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResumeBuilder: The free, and fast resume builder.</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        
        <ul>
            <span class="logos">
               resumeBuilder
            </span>
            <li><a href="#">About Us</a></li>
            <li><a href="./temp">Templates</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="one">
            <p>
            The free,<br>
            and fast <br>
            Resume <br> Builder.
        </p>
        </div>
        <div class="two">
            <img src="../images/res.png" alt="resume-image">
        </div>  
    </div> 
    <br>
            <div class="createbtn">
                <button type="button"><a href="/form">Build Resume</a></button>
            </div>    
    <br>
        <div class="accept">
            <div class="i1">
                <img src="../images/amazon.png" alt="google_img">
            </div>
            <div class="i2">
                <img src="../images/microsoft.webp" alt="microsoft">
            </div>
            <div class="i3">
                <img src="../images/nvidia.png" alt="microsoft">
            </div>
            <div class="i4">
                <img src="../images/accenture.png" alt="microsoft">
            </div>
            <div class="i5">
                <img src="../images/google.png" alt="google">
            </div>
            
        </div>
        <br><br>
        <div class="ad">
            <div class="pic">
                <img src="./images/res1.png" alt="Resume" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
            </div>
            <div class="text">
                <p class="heading">
                    ATS Resume<br>
                    Templates  
                </p>
                <br>
                <br>
                <p style="font-size: 28px; text-align: center;">Never get rejected again,<br>
                    with our ats resume templates.<br>
                    Our Advanced <b>ATS Resume Builder</b><br>
                    empowers job seekers with a <br>
                    dynamic tool that<br>
                    ensures your resume stands out.
                </p>
            </div>
        </div>

        
        <br><br>

        <div class="ad">
            <div class="pic1">
                <img src="./images/signin.png" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;" alt="">
            </div>
            <div class="text">
                <p class="heading">
                   No Sign ups <br> 
                   required 
                </p>
                <br>
                <p style="font-size: 28px; text-align: center;">No sign ups are required,<br>
                   create your resume without any <br>
                   hassle of remembering your <br>
                   username and password.</p>
            </div>
        </div>
        <br><br>        

        <br><br><br>
</body>
</html>